<h1>About</h1>
<p>This is a Node/Express app for jotting down ideas for future Front End Projects.</p>
<p>Version: 1.0.0 </p>
<br>
<h4>Enjoy!</h4>
<br>
<br>
<br>
<img class="logo" src="/img/logo.png">