<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <br>
    <p class ="lead">Write Ideas for your next Front-End Project here!</p>
    </p>
    <br>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Project Idea</a><br><br>
    <img class="logo" src="/img/logo.png">
</div>